<div class="conteneur">
    <i class='bx bx-x' style="margin-left: 100%"></i>
    <div class="image">
        <img src="../assets/vent.png" alt="" class="ico">
        <h1>Modifier une vente</h1>
    </div>
    <form>
        <div class="form-group">
            <label for="categorie">Catégories</label>
            <select id="categorie" name="categorie" >
                <option value="option1">Option 1</option>
                <option value="option2">Option 2</option>
                <option value="option3">Option 3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <select id="race" name="race">
                <option value="race1">Race 1</option>
                <option value="race2">Race 2</option>
                <option value="race3">Race 3</option>
            </select>
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="iptform">
        </div>
        <div class="form-group">
            <label for="nombre">Prix unitaire</label>
            <input type="number" id="prix" name="nombre" placeholder="Nombre" class="iptform">
        </div>
      
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Description" class="des"></textarea>
        </div>
        <div class="action">
            <button class="enregistrer">Modifier</button>
        </div>
    </form>
</div>
