<div class="container">
<img src="../assets/cloose.png" class="fermer" (click)="fermerDialog()">
    <div class="image">
    <img src="../assets/categori.png"  class="ico">
    <h1>Choix des races</h1>
    </div>
    
    <div class="carte">
      <div class="card">
       <div class="contenu">
      <div><input type="checkbox"></div>
      <div><img src="../assets/piqure.png"></div>
      <div>chair</div>
      </div>
    </div>

    <div class="card">
        <div class="contenu">
       <div><input type="checkbox"></div>
       <div><img src="../assets/piqure.png"></div>
       <div>chair</div>
       </div>
     </div>

     <div class="card">
        <div class="contenu">
       <div><input type="checkbox"></div>
       <div><img src="../assets/piqure.png"></div>
       <div>chair</div>
       </div>
     </div>

     <div class="card">
        <div class="contenu">
       <div><input type="checkbox"></div>
       <div><img src="../assets/piqure.png"></div>
       <div>chair</div>
       </div>
     </div>

     <div class="card">
        <div class="contenu">
       <div><input type="checkbox"></div>
       <div><img src="../assets/piqure.png"></div>
       <div>chair</div>
       </div>
     </div>

     <div class="card">
        <div class="contenu">
       <div><input type="checkbox"></div>
       <div><img src="../assets/piqure.png"></div>
       <div>chair</div>
       </div>
     </div>
    </div>
<button class="btn">Valider</button>
</div>