<div class="container">
<img src="../assets/cloose.png" class="fermer" (click)="fermerDialog()">
    <div class="image">
    <img src="../assets/categori.png"  class="ico">
    <h1>Choix des races</h1>
    </div>
    
    <div class="carte">

      <div class="card"   *ngFor="let category of categories">
       <div class="contenu">
      <div><input type="checkbox" (change)="selectedCategory(category)"></div>
      <div><img src="../assets/piqure.png"></div>
      <div>{{ category.nom }} </div>
      </div>
    </div>

    </div>
   <button class="btn" (click)="enregistrer()" [disabled]="selectedCategories.length === 0">Valider</button>
</div>