<div class="conteneur">
    <div class="image">
    <img src="../assets/user.png" alt="">
    <h1>Ajouter un employer</h1>
    </div>
    <form>
        <div class="form-group">
          <label for="nomComplet">Prenom et Nom</label>
          <input type="text" id="nomComplet" name="nomComplet" placeholder="Nom complet" class="iptform">
        </div>
        <div class="form-group">
          <label for="nomFerme">Adresse</label>
          <input type="text" id="adresse" name="adresse" placeholder="son adresse" class="iptform">
        </div>
        <div class="form-group">
            <label for="nomFerme">Numero</label>
            <input type="text" id="num" name="numero" placeholder="Numero" class="iptform">
          </div>
          <div class="form-group">
            <label for="nomFerme">Mot de passe</label>
            <input type="text" id="mdp" name="mdp" placeholder="motDePasse" class="iptform">
          </div>
          
          <div class="action">
            <button class="btn">Modifier</button>
           
              <button class="annule">Annuler</button>
             </div>
    </form>
    </div>