<app-principal></app-principal>

<div class="container">
    <div class="left">
    
    </div>

    <div class="droite">

        <div class="recherche">
            <!-- <label for="typeFiltre">Filtrer par :</label> -->
            <select id="typeFiltre">
                <option value="perte">Perte</option>
                <option value="vente">Vente</option>
                <option value="vaccin">Vaccin</option>
            </select>
            <button>Filtrer</button>
        </div>
        
<!-- liste des vents-->
<div>
    <table>
      <thead>
          <tr>
               <th>Notification</th>
              
          </tr>
      </thead>
      <tbody>
          <tr>
              <td >Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eaque vitae officiis, velit sunt laudantium ducimus sequi tempora nobis, architecto impedit! Maxime, repudiandae. 
                Facere maiores quae corrupti doloremque
                 aspernatur hic?</td>
              <td><button class="pr" (click)=" openDialog()">voir</button></td>
          </tr>
        
      </tbody>
  </table>
  
   </div>
    
    </div>
</div>




