<div class="container">
    <h1>Nouvel Eleveur</h1>
    <p>Code: XS75</p>
    <form>
      <div class="form-group">
        <label for="nomComplet">Prenom & Nom</label>
        <input type="text" id="nomComplet" name="nomComplet" placeholder="Nom complet" class="iptform">
      </div>
      <div class="form-group">
        <label for="nomFerme">Nom de la ferme</label>
        <input type="text" id="nomFerme" name="nomFerme" placeholder="Ferme" class="iptform">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="example@gmail.com"class="iptform">
      </div>
      <div class="adress">
        <div>
          <label for="telephone">Téléphone</label>
          <input type="tel" id="telephone" name="telephone" placeholder="Numéro"class="ipt">
        </div>
        <div style="margin-left: 20px;">
          <label for="adresse">Adresse</label>
          <input type="text" id="adresse" name="adresse" placeholder="Votre adresse" class="ipt">
        </div>
      </div>
      <div class="form-group">
        <label for="motDePasse">Mot de passe</label>
        <input type="password" id="motDePasse" name="motDePasse" placeholder="Mot de passe"class="iptform">
      </div>
      <div class="adress">
        <div>
          <label for="motDePasseGenere">Mot de passe</label>
          <input type="text" id="motDePasseGenere" name="motDePasse" placeholder="Mot de passe ou généré" class="iptform">
        </div>
      </div>
      <button class="modifier">Enregitrer Modification</button>
      <button class="annule">Annuler</button>

    </form>
  </div>
  