<app-principal></app-principal>

<div class="container">
    <div class="left">

    </div>
    <div class="droite">
        <div class="ti">
            <h1>Mes Catégories</h1>
          </div>
          <div class="recherche">
          <input type="search" placeholder="Recherche..."/>
          <button>Rechercher</button>
        </div>

        <!-- card animaux -->
        <div class="carte">
        <!-- card 1 -->
        <div class="card">
        <div class="contenu">
        <div class="imgt">
            <img src="../assets/coq.png">
        </div>
        <div class="text">
        <p>Race 1, Race 2, Race 3, ....... <br>
        Race 10 ,....</p>
        </div>
        <div class="cate">
         <div>
            <img src="../assets/cat.png" alt="">
         </div>
         <div>
            <h3>Catégories A</h3>
         </div>
        </div>
       </div>
        </div>
        <!-- card 2 -->
        <div class="card">
            <div class="contenu">
            <div class="imgt">
                <img src="../assets/coq.png">
            </div>
            <div class="text">
            <p>Race 1, Race 2, Race 3, ....... <br>
            Race 10 ,....</p>
            </div>
            <div class="cate">
             <div>
                <img src="../assets/cat.png" alt="">
             </div>
             <div>
                <h3>Catégories A</h3>
             </div>
            </div>
           </div>
            </div>

            <!-- card 3 -->
        <div class="card">
            <div class="contenu">
            <div class="imgt">
                <img src="../assets/coq.png">
            </div>
            <div class="text">
            <p>Race 1, Race 2, Race 3, ....... <br>
            Race 10 ,....</p>
            </div>
            <div class="cate">
             <div>
                <img src="../assets/cat.png" alt="">
             </div>
             <div>
                <h3>Catégories A</h3>
             </div>
            </div>
           </div>
            </div>
        <!-- card 1 -->
        <div class="card">
            <div class="contenu">
            <div class="imgt">
                <img src="../assets/coq.png">
            </div>
            <div class="text">
            <p>Race 1, Race 2, Race 3, ....... <br>
            Race 10 ,....</p>
            </div>
            <div class="cate">
             <div>
                <img src="../assets/cat.png" alt="">
             </div>
             <div>
                <h3>Catégories A</h3>
             </div>
            </div>
           </div>
            </div>
        </div>
       
        </div>
    </div>