<app-principal></app-principal>

<div class="container">
    <div class="left">
    
    </div>

    <div class="droite">

        <div class="ti">
            <h1>Mes Vaccins</h1>
          </div>
          <div class="recherche">
          <input type="search" placeholder="Recherche..."/>
          <button>Rechercher</button>
        </div>
<!-- liste des employer -->
<div>
    <table>
      <thead>
          <tr>
               <th></th>
              <th>Avatar</th>
              <th>Nom</th>
              <th>Date de vaccination</th>
              <th>Prix</th>
              <th>Action</th>
        
          </tr>
      </thead>
      <tbody>
          <tr>
              <td ><input type="checkbox" class="check" ></td>
              <td><img src="../assets/piqure.png"></td>
              <td>prevention</td>
              <td>23/04/2023</td>
              <td>1000cfa</td>
              <td><button class="pr">voir profil</button></td>
          </tr>
        
      </tbody>
  </table>
  
   </div>
    <!-- le bouton ajout -->
    <div class="ajout" (click)="openDialog()">
        <button class="btn">
          Ajouter un vaccin
          <img class="ico" src="./assets/ajout.png"style="float: right;">
        </button>
      </div>
    </div>
</div>




