
.recherche{
margin-left: 53%;
display: flex;
flex-direction: row;
margin-top: -35px;
}
.btn{
        
    width: 300px;
    height: 45px;
    padding: 6px 0px 6px 8px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
background: var(--color1, #48436B);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin-left: 70%;
margin-top: 50px;
}


button{
    width: 181px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
background: var(--color1, #48436B);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: var(--white, var(--white, #FFF));
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.5px;
}






.droite {
    width: 75%;
    height: 832px;  
    margin-top: -50%;
    margin-left: 20%;  
      }
.container{
display: flex;
flex-direction: row;
}
input{
    display: flex;
    width: 348px;
    height: 50px;
    padding: 5px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
border: 1px solid #C9CDD4;
background: var(--white, #FFF);
color: var(--unnamed, #86909C);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
margin-right: 5px;
}
.card {
    width: 451px;
    height: 239px;
    flex-shrink: 0;
    border-radius: 10px;
border: 1px solid var(--black, #D9D9D9);
background: var(--white, #FFF);
display: flex; /* Utiliser flexbox pour organiser les éléments internes */
position: relative; 
  }
.carte{
    margin-top: 50px;
}

.md{
    margin-left: 80%;
}
.butn{
    display: inline-flex;
    height: 30px;
    padding: 3px 5px 3px 10px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
border-radius: 5px;
background: var(--orange, #FE8F4A);
width: 80px; 
}

.cat{
    color: #FE8F4A;
    font-weight: bold;
}
.carte{
    display: flex;
    flex-direction: row;
}
.race{
    color: #FE8F4A;
    font-weight: bold;
}
.ajout{
    margin-top: -20px;  
    position: fixed;
    margin-left: 40%;
  }
.ico{
    margin-right: 20px;
}
button{
    width: 181px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
background: var(--color1, #48436B);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
color: var(--white, var(--white, #FFF));
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.5px;
}
.icon{
    display: flex;
    flex-direction: row;
    margin-right: 90px;
    margin-top: 10px;
    
}



.modifier {
    position: absolute;
    top: 10px; 
    right: 10px; 
}
h2{
margin: 0;
color: #000;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 22px; /* 122.222% */
letter-spacing: -0.41px;
}
P{
    
    color: var(--second, #43535B);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 133.333% */
    letter-spacing: -0.24px;
}
.tx{
margin-left: 10px;
}



.animal-info {
    // width: 300px;
    // margin: 0 auto;
    margin-left: 60px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

.columns {
    display: flex;
}

.column {
    flex: 1;
    // padding: 10px;
    // border: 1px solid #ddd;
    margin-right: 70px;
}

.column-title {
    font-weight: bold;
    margin-bottom: 5px;
    color: #FE8F4A;
}
.column:last-child {
    margin-right: 0; /* Aucun espace après la dernière colonne */
}
.colum {
    // flex: 1;
    padding: 10px;
    // border: 1px solid #ddd;
    margin-left: 50px;
}
.anl{
margin-left: 100px;
color: #48436B;
}
.age{
margin-top: -8%;
margin-left: 109px;
}

