<app-principal></app-principal>

<div class="container">
<div class="left">

</div>
<div class="droite">

<!-- le nombres totals d'animaux -->
<div class="contenu">
<div class="card">
    <div style="margin-left: 6px;">
    <div class="title">
        <p>Animaux</p>
      </div>
      <div class="icon">
      <img src="../assets/lapin.png" >
      </div>
      <div class="nbre">
       <p>Nombres totals d'animaux</p>
       <h2>170</h2>
    </div>
</div>
</div>
<!-- le nombres totals de perte -->

<div class="card">
    <div style="margin-left: 6px;">
    <div class="title">
        <p>Pertes</p>
      </div>
      <div class="icon">
      <img src="../assets/perte.png" >
      </div>
      <div class="nbre">
       <p>Nombres totals de pertes</p>
       <h2>17</h2>
    </div>
</div>
</div>
<!-- prix des aliments -->
<div class="card">
    <div style="margin-left: 6px;">
    <div class="title">
        <p>Aliments</p>
      </div>
      <div class="icon">
      <img src="../assets/aliment.png" >
      </div>
      <div class="nbre">
       <p>Nombre total  de prix d’aliments</p>
       <h2>20 000 <strong>cfa</strong></h2>
    </div>
</div>
</div>
    <!-- ventes -->
    <div class="card">
        <div style="margin-left: 6px;">
        <div class="title">
            <p>Ventes</p>
          </div>
          <div class="icon">
          <img src="../assets/revenue.png" >
          </div>
          <div class="nbre">
           <p>Nombre total  d’animaux vendu </p>
           <h2>100 <strong>cfa</strong></h2>
        </div>
    </div>
</div>
</div>
<!-- LES GRAPHES MON PIRES CAUCHEMARES -->

</div>
</div>
