<div class="container">
  <div class="conteneur">
     <h1>Ajouter une Catégorie</h1>
 
     <form [formGroup]="categorieForm">
       <div style="margin-left: 47%" class="ipt">
         <input type="file" placeholder="Ajouter une photo" formControlName="photocat">
       </div>
       <div class="form-group">
         <label for="nomComplet">Nom</label>
         <input type="text" id="nomcate" name="nomcate" formControlName="nom" placeholder="Nom de la catégorie" class="iptform" required>
       </div>

       <div *ngFor="let race of races; let i = index"  class="adress">
              <div>
             <label for="race">Race</label>
             <input type="text" id="race{{ i }}" name="race{{ i }}" formControlName="race" placeholder="race" class="iptforme" required>
            </div>
           <div class="toff">
             <input type="file" id="toff" name="toff" class="ipt" formControlName="photorace">
            </div>
          </div>
          
       
       <div>
        <button class="ipt" (click)="ajouterRace($event)">Ajouter</button>
      </div>
       <div class="action">
         <button class="btn" (click)=" ajouterCategory()">Enregistrer</button>
         <button class="annule" (click)="annuler()">Annuler</button>
       </div>
     </form>
  </div>
 </div>