
// .container{
//     background-image: url('./assets/badground.png');
//     display: flex;
//     flex-direction: row;
//     }
// // menu
// .active{
//     background-color: #FE8F4A;
//     color: #FFFF;
    
// }
// .i{
//     margin-right: 20%;
// }
// .bar{
//     width: 100%; /* Élargissez la div à 100% de la largeur */
//   display: flex;
//   justify-content: flex-start; /* Déplacez les éléments à gauche */
  
// }
//     .left{
//         width: 15%;
//         height: 832px;
//         flex-shrink: 0;
//         border: 2px solid var(--white, #FFF);
//     background: rgba(229, 239, 255, 0.05); 
//     }
//     .custom-list {
//         list-style: none;
//         // margin-left: 40px;
//         margin-top: 100%;
//         padding: 0;
//         margin: 0;
        
//       }
      
//       .custom-item {
//         display: flex;
//         align-items: center;
//         margin-bottom: 20px;
        
//       }
      
      
//       a {
//         text-decoration: none;
//       }
      
//       /* Styles spécifiques aux balises <a> */
//       a:hover {
//         text-decoration: underline;
//       }
      
//       /* Marges personnalisées pour les icônes et les étiquettes */
//       .bx bxs-grid-alt,
//       .bx bx-user {
//         margin-right: 8px;
//       }
      
//       span { 
//         margin-left: 8px;
//       }

//     .bord{
//         display: inline-flex;
//         padding: 12px 24px;
//         justify-content: center;
//     align-items: flex-start;
//      gap: 741px;
//      border-bottom: 1px solid #FE8F4A;
//     background: var(--white, #FFF);
//     box-shadow: 0px 8px 16px 0px rgba(192, 199, 218, 0.15);
//     margin-left: 15px;
//     width: 95%;
//     height: 25px;
//     margin-top: 30px;
    
//     }
    // FIN
    .text{
        color: var(--primary, #212842);
        font-family: Inter;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; 
        letter-spacing: -0.01px;
        text-transform: capitalize;
        margin-right: 90%;
        margin-top: -1px;
    }
    h1{
        color: var(--unnamed, #1D2129);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 140% */
        text-transform: capitalize;
        margin-left: 20px;
       
    }
    .droite {
        width: 75%;
        height: 832px;  
        margin-top: -55%;
        margin-left: 20%;  
          }
        
    .ti{
        margin-top: 60px;   
        
    }
    .recherche{
    margin-left: 45%;
    display: flex;
    flex-direction: row;
    margin-top: -35px;
    }
    input{
        display: flex;
        width: 348px;
        height: 50px;
        padding: 5px 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 4px;
    border: 1px solid #C9CDD4;
    background: var(--white, #FFF);
    color: var(--unnamed, #86909C);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    margin-right: 5px;
    }
    button{
        width: 181px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 8px;
    background: var(--color1, #48436B);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--white, var(--white, #FFF));
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.5px;
    }
    .ajout{
        margin-left: 70%;
    margin-top: 50px;
    
    }

    
    .btn{
        display: flex;
        width: 300px;
        height: 45px;
        padding: 6px 0px 6px 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 10px;
    background: var(--color1, #48436B);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .card{
        display: flex;
        width: 233px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        border-radius: 8px;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: -80px;
    }
    .title{
    
        color: var(--unnamed, #1D2129);
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */
        text-transform: capitalize;
    
    }
    .nbre{
        color: var(--unnamed, #4E5969);
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 166.667% */
        text-transform: capitalize;
        margin-top: -40px; 
        margin-left: 60px;
        position: relative;
    }
    .nbre p {
        margin-bottom: 10px; 
        margin: 0; /* Réinitialise les marges */
        position: relative;
        top: -10px; 
    }
    
    .nbre h2 {
        margin: 0; /* Réinitialise les marges */
        position: relative;
        top: -10px; 
        font-weight: 700;
    }
    

    .ico{
    margin-left:30px;
    }
    .logo{
    margin-left: 80px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        border: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
        background: var(--white, #FFF);
        margin-top: 30px;
    }
    
    thead {
        background: var(--white, #FFF);
        min-height: 60px;
    }
    
    th {
        padding: 10px 15px;
        text-align: left;
        border-bottom: 2px solid var(--gray-blue-grey-blue-97, #F5F6F7);
        color: var(--gray-blue-grey-blue-70, #7D8FB3);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Bold/Bold 12 */
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    }
    
    td, input {
        padding: 15px 15px;
        text-align: left;
        border-radius: 5px;
        border: 2px solid var(--gray-blue-grey-blue-96, #F2F3F5);
        background: var(--white-white, #FFF);
        box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
        color: var(--gray-blue-grey-blue-50, #4D5E80);
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Bold/Bold 12 */
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */
    }
    
    .check {
        display: flex;
        width: 20px;
        height: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        border: 2px solid var(--gray-blue-grey-blue-96, #F2F3F5);
        background: var(--white-white, #FFF);
        box-shadow: 0px 2px 10px 0px rgba(38, 51, 77, 0.03);
    }
    
    .pr {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        border-radius: 4px;
        background: var(--orange, #FE8F4A);
        text-align: center;
        width: 95px;
        height: 30px;
        padding: 5px;
        display: flex;
    }
    