<div class="container">
    <div class="left">
        <img class="logo" src="../assets/logo.png">
        <ul class="custom-list">
            <div class="bar" (click)="handleClick()" [ngClass]="{'active': isActive}">
          <li class="custom-item">
            <i class="icon-person-outline"> 
                <mat-icon>person</mat-icon>
            </i>
            <span>Liste des éleveurs</span>

          </li>
        </div>
        <div class="bar">
          <li class="custom-item" routerLink="../defauld">
            <i class="icon-grid-outline">
                <mat-icon>apps</mat-icon>


            </i>
            Catégories
          </li>
          </div>
        </ul>
    </div>
  
    
  <div class="droite">
    <div class="bord">
      <p class="text">Tableau de bord</p>
    </div>
    <!-- barre de recherche -->
    <!-- ET bouton d'ajout -->
    
      <div class="ti">
        <h1>Liste des éléveurs</h1>
      </div>
      <div class="recherche">
      <input type="search" placeholder="Recherche..."/>
      <button>Rechercher</button>
    </div>
  
    <!-- le bouton ajout -->
    <div class="ajout">
      <button class="btn" (click)="openDialog()">
        Nouvel éléveur
        <img class="ico" src="./assets/ajout.png"  style="float: right;">
      </button>
    </div>
    
    <!-- card éléveurs -->
  <div class="card">
    <div class="title">
      <p>Eléveurs</p>
    </div>
    <div class="icon">
    <img src="./assets/user.png" >
    </div>
    <div class="nbre">
     <p>Nombres d'éléveurs</p>
     <h2>170</h2>
    </div>
  
  </div>
   <!-- parti liste -->
   <div>
    <table>
      <thead>
          <tr>
               <th></th>
              <th>Avatar</th>
              <th>Nom Complet</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td ><input type="checkbox" class="check" ></td>
              <td><img src="../assets/user.png"></td>
              <td>Jane Smith</td>
              <td>987-654-3210</td>
              <td>jane.smith@example.com</td>
              <td>456 Elm St, Town</td>
              <td><button class="pr" routerLink="../profil">voir profil</button></td>
          </tr>
        
      </tbody>
  </table>
  
   </div>
  </div>
  
  </div>
  
  