<div class="container">

    <app-barre></app-barre>
    
  <div class="droite">

      <div class="ti">
        <h1>Liste des éléveurs</h1>
      </div>
      <div class="recherche">
      <input type="search" placeholder="Recherche..."/>
      <button>Rechercher</button>
    </div>
  
    <!-- le bouton ajout -->
    <div class="ajout">
      <button class="btn" (click)="openDialog()">
        Nouvel éléveur
        <img class="ico" src="./assets/ajout.png"  style="float: right;">
      </button>
    </div>
    
    <!-- card éléveurs -->
  <div class="card">
    <div class="title">
      <p>Eléveurs</p>
    </div>
    <div class="icon">
    <img src="./assets/user.png" >
    </div>
    <div class="nbre">
     <p>Nombres d'éléveurs</p>
     <h2>{{ (proprietaires$ | async)?.length || 0 }}</h2>
    </div>
  
  </div>
   <!-- parti liste -->
   <div>
    <table>
      <thead>
          <tr>
               <th></th>
              <th>Avatar</th>
              <th>Nom Complet</th>
              <th>Contact</th>
              <th>Email</th>
              <th>Adresse</th>
              <th>Action</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proprio of proprietaires$ | async">
          <!-- Adjust the properties based on your data structure -->
          <td><input type="checkbox" class="check"></td>
          <td><img src="../assets/user.png"></td>
          <td>{{ proprio.nom }}</td>
          <td>{{ proprio.phone }}</td>
          <td>{{ proprio.email }}</td>
          <td>{{ proprio.adresse }}</td>
          <td><button class="pr" [routerLink]="['../profil', proprio.id]">voir profil</button></td>
        </tr>
      </tbody>
  </table>
  
   </div>
  </div>
  
  </div>
  
  