<div class="container">

    <app-barre></app-barre>
  <!-- les card Catégorie -->
  <div class="droite">
    <div class="ti">
      <h1>Catégories par défaut</h1>
    </div>
      <!-- le bouton ajout -->
      <div class="ajout">
        <button class="btn" (click)="openDialog()">
          Ajouter une catégorie
          <img class="ico" src="./assets/ajout.png"  style="float: right;">
        </button>
      </div>

  <!-- card catégorie -->
  <div class="carte">
  <div class="card" *ngFor="let category of categorys$ | async">
    <img src="../assets/modifier.png" class="md" (click)="OpenModif()">
    <div class="title">
      <p>{{ category.nom }}</p>
    </div>
    <div class="icon">
      <!-- imageici -->
    <img  src="../assets/patte.png" style="width: 50px; height: 50px; ">
    </div>
    <div class="nbre">
     <p>Nombres de race : {{ numberOfRaces }}</p>
     <button class="butn" (click)="category.id && supprimer(category.id)">Supprimer</button>
    </div>
  </div>
</div>
  
  
  </div>
  </div>