<div class="container">

    <app-barre></app-barre>
  <!-- les card Catégorie -->
  <div class="droite">
    <div class="ti">
      <h1>Catégories par défaut</h1>
    </div>
      <!-- le bouton ajout -->
      <div class="ajout">
        <button class="btn" (click)="openDialog()">
          Ajouter une catégorie
          <img class="ico" src="./assets/ajout.png"  style="float: right;">
        </button>
      </div>

  <!-- card catégorie -->
  <div class="card">
    <img src="../assets/modifier.png" class="md" (click)="OpenModif()">
    <div class="title">
      <p>Poulet</p>
    </div>
    <div class="icon">
    <img src="./assets/poulet.png">
    </div>
    <div class="nbre">
     <p>Nombres de race : 5</p>
     <button class="butn">Supprimer</button>
    </div>
  </div>
  
  
  
  </div>
  </div>