<div class="conteneur">
    <i class='bx bx-x' style="margin-left: 100%"></i>
    <div class="image">
        <img src="" alt="image de la perte" class="ico">

    </div>
    <form>
        <div class="form-group">
            <label for="categorie">Catégorie</label>
            <input type="number" id="prix" name="nombre" placeholder="" class="iptform">
        </div>
        <div class="form-group">
            <label for="race">Race</label>
            <input type="number" id="prix" name="nombre" placeholder="" class="iptform">
        </div>
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" placeholder="" class="iptform">
        </div>
        <div class="form-group">
            <label for="nombre">Date</label>
            <input type="number" id="prix" name="nombre" placeholder="" class="iptform">
        </div>
      
        <div class="form-group">
            <label for="description">Cause</label>
            <textarea id="description" name="description" placeholder="" class="des"></textarea>
        </div>
        <div class="action">
            <button class="enregistrer">Confirmer</button>
        </div>
    </form>
</div>
