

<div class="container">

    <div class="left">

    <div class="logo">
        <img src="../assets/logo1.png" alt="">
        <h1 >Se connecter</h1>
    </div>

    <div>
        <form>
            <div class="form-group">
                <label for="nomComplet">Code: </label>
                <input type="text" id="code" name="code" placeholder="000" class="iptform">
              </div>

              <div class="form-group">
                <label for="nomComplet">Email: </label>
                <input type="mail" id="mail" name="mail" placeholder="votre email" class="iptform">
              </div>

              <div class="form-group">
                <label for="nomComplet">Mot de passe: </label>
                <input type="password" id="mdp" name="mdp" placeholder="votre mot de passe" class="iptform">
              </div>
              <br>
            <button class="btn">Se connecter</button>
        </form>
    </div>
     
    </div>
        <div class="droite">
        <img src="../assets/conn.png" class="img">
        </div>

  
</div>