<div class="conteneur">
    <i class='bx bx-x' style="margin-left: 100%"  (click)="annuler()"></i>
    <div class="image">
        <img src="../assets/tache.png" alt="" class="ico">
        <h1>Ajouter une tâche</h1>
    </div>
    <form [formGroup]="tacheform">
        <div class="form-group">
            <label for="nombre">Titre</label>
            <input type="text" id="title" name="titre" placeholder="titre" class="iptform"  formControlName="titre">
        </div>
        <div class="form-group">
            <label for="employer">Employer</label>
            <select  name="employer" formControlName="employer" >
                <option   *ngFor="let employer of employes$ | async" [value]="employer.id">
                    {{employer.nom}}</option>
                <!-- <option value="race2">Employer 2</option>
                <option value="race3">Employer 3</option> -->
            </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" name="description" placeholder="Description" class="des"formControlName="description"></textarea>
        </div>

        <div class="action">
            <button class="enregistrer" (click)="addTache()">Enregistrer</button>
        </div>
    </form>
</div>
